.container {
  max-width: 30rem;
  margin: 0 auto 20px auto;
  padding: 1.5rem 2rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  a {
    color: #000;
    text-decoration: none;
  }
  a:hover {
    color: #e06c75;
  }
}
